<div class="row" style="border: 1px solid red;" id="divTree">
    <div class="tree col-md-4 col-sm-auto" style="border: 1px solid blue;">
        <ul class="tree" id="tree">
            <li class="open" id="rootTree">Root</li>
        </ul> 
    </div>
    <div class="list col-md-8 col-sm-auto" style="border: 1px solid green;">
        <ul id="list" class="list-group list-group-flush">LIST</ul>
    </div>
</div>