<h2 style="border-bottom: 1px lightblue solid; text-align: center;">Fetch Evo</h2>
<h3>API Config</h3>
<dl class="row m-sm-3 p-1">
  <dt class="col-sm-5">api/config</dt>
  <dd class="col-sm-10">Получить JSON массив конфигураций</dd>
</dl>
<h3>API V1</h3>
<dl class="row m-sm-3 p-1">
  <dt class="col-sm-5">api/v1/groups</dt>
  <dd class="col-sm-10">Получить JSON массив групп товаров</dd>
  <dt class="col-sm-5">api/v1/commodities/p/<code>{parentUuid}</code></dt>
  <dd class="col-sm-10">
    Получить JSON массив товаров группы <mark><i>{parentUuid}</i></mark>
  </dd>
  <dt class="col-sm-5">api/v1/commodities/<code>{uuid}</code></dt>
  <dd class="col-sm-10">
    Получить JSON товар <mark><i>{uuid}</i></mark>
  </dd>
  <dt class="col-sm-5">api/v1/commodities</dt>
  <dd class="col-sm-10">Получить JSON массив всех товаров</dd>
</dl>
<h3>API V2</h3>
<dl class="row m-sm-3 p-1">
  <dt class="col-sm-5">api/v2/products/<code>{uuid}</code></dt>
  <dd class="col-sm-10">
    Получить JSON товара <mark><i>{uuid}</i></mark>
  </dd>
  <dd class="col-sm-10">
    Если <code>{uuid} === "update"</code> - обновить список товаров в базе.
  </dd>
</dl>
<button id="get_config" onClick="getConfig()">Get Config</button>
<button id="get_config" onClick="">Get Stores</button>
<script>
  async function getConfig() {
    let conf = await fetch("/api/config");
    conf = await conf.json();
    alert(conf.status.result);
    let ul = document.createElement("ul");
    conf.items.forEach((item) => {
      if (item.config_name) {
        let li = document.createElement("li");
        li.name = item.config_name;
        li.innerText = item.config_name + ": " + item.config_value;
        ul.append(li);
      }
    });
    $("main").append(ul);
  }
</script>
