<template>
    <form id="frmUser" title="User passport">
        <input type="text" id="userName">
        <input type="text" id="role">
        <input type="text" id="age">
        <input type="email" id="email">
    </form>
</template>>