<template>
    <form id="frmUser" title="User passport">
        <input type="text" id="userName">
        <select class="form-control" id="role">
            <option value="admin">admin</option>
            <option value="user">user</option>
        </select>
        <input type="text" id="age">
        <input type="email" id="email">
    </form>
</template>>