<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title><%=title%></title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
crossorigin="anonymous">
<script src="jquery-3.4.1.js"></script>
<% if (styles.length) { %>
  <% styles.forEach(item => { %>
    <link rel="stylesheet" href= <%= "stylesheets/" + item %> >
  <% }); %>
<% } %>
<% if (scripts.length) { %>
  <% scripts.forEach(item => { %>
    <script defer src = <%= item %>></script>
  <% }); %>
<% } %>