<p><h3 class="display-3">Это начальная страница</h3></p>
<p class="h2">
    Скоро здесь будет новый content!
    <small>
        Ждите...
    </small>
</p>
<p class="lead">Я только начинаю изучать
    JavaScript (<abbr title="JavaScript" class="initialism"><mark>JS</mark></abbr>), <abbr title="HTML">HTML</abbr>, <abbr title="CSS"> CSS</abbr>
</p>
<p>
    Now I tested <mark>Bootstrap 4.0.0</mark>.
    <blockquote class="shadow blockquote text-justify bg-light rounded" style="padding: 1rem;">
        <p>
            Самый важный момент вашей жизни происходит сейчас. 
            Самый важный человек в вашей жизни — тот, с кем вы сейчас находитесь,
            а самая важная деятельность в вашей жизни — то, чем вы сейчас занимаетесь.
        </p>
    <footer class="text-right">Умный человек, <cite>Мысли вслух.</cite></footer>
    </blockquote>
    Надеюсь, это правильная мысль...
</p>
<dl class="row m-sm-3 bg-warning p-1">
    <dt class="col-sm-2">Архат</dt>
    <dd class="col-sm-10">«Совершенный», преодолевший три яда желания, ненависти и неведения.</dd>
    <dt class="col-sm-2">Бодхи</dt>
    <dd class="col-sm-10">Пробуждённая мудрость.</dd>
    <dt class="col-sm-2">Дзен</dt>
    <dd class="col-sm-10">Медитативное погружение, при котором устраняются все дуалистические различия.</dd>
  </dl>
  <blockquote class="shadow blockquote text-justify bg-light rounded" style="padding: 1rem; font-size: 1em;">
    <p>This code <code>let d = new Date()</code> set d as Date()</p>
    <kbd><kbd>Ctr</kbd>+<kbd>V</kbd></kbd>
    <pre class="language-javascript">
        This text views
        as is with all   spaces
            tabs 
            and 
            <code>var code = f() {/*...*/}</code>          
            <var>E</var>=<var>m</var>*<var>C</var><sup>2</sup>
    </pre>
  </blockquote>
  <b>Не важное выделение (тег <code>&lt;b&gt;</code>)</b>
  <i>Цитата (тег <code>&lt;i&gt;</code> )</i>