node_modules
.vs/
.vscode/
webrefApp.bat
database/test.sql
public/images/delete.ico
public/images/Flops_A.ico
public/images/Folder-Home.ico
public/images/ioann.png
public/images/jhon.png
public/images/mike.png
public/images/Network.ico
test.js
database/insert_demo.sql
