extends layout

block content
  h1= title
  p Welcome to #{title}

  - var profileName = "Danny Ocean";
  div
    p Hi there, #{profileName}. How are you doing?

  div.movie-card#oceans-11
    h1.movie-title Ocean's 11
    img.movie-poster(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/oceans11.jpg")
    ul.genre-list
      li Comedy
      li Thriller
    p.
      Danny Ocean and his eleven accomplices plan to rob
      three Las Vegas casinos simultaneously.

  - var droids = ["R2D2", "C3PO", "BB8"];
  div
    h1 Famous Droids from Star Wars
      for name in droids
        div.card
          h2= name