.tree span:hover {
  font-weight: bold;
  color: blue;
}
.list li:hover {
  font-weight: bold;
  color: blue;
}
.tree .selected {
  background: khaki;
}
span {
  cursor: pointer;
}
#list li:hover {
  cursor: pointer;
}
.tree ul {
  list-style: none;
}
.list ul {
  list-style: none;
}
#tree span:not(.badge)::before {
  content: url("../images/icons/folder.svg");
}
#tree .selected:not(.badge)::before {
  content: url("../images/icons/folder-fill.svg");
}
