.tree span:hover {
    font-weight: bold;
    color: blue;
}
.tree .selected {
    background: khaki;
}
span {
    cursor: pointer;
}
#list li:hover {
    cursor: pointer;
}
.tree ul {
    list-style: none;
}
.list ul {
    list-style: none;
}
#tree span::before { 
  content: url('../images/icons/folder.svg');
}
#tree .selected::before {
    content: url('../images/icons/folder-fill.svg');
}