body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} 

#app {
  width: 100vw;
  height: 100vh;
}

a {
  color: #00b7ff;
}
footer {
  padding: 50px;
}
.users {
  position: relative;
  width: 50vw;
  border-collapse: collapse;
  margin: 5px;
}
.users td,
th {
  /* background: white; */
  border: 1px solid black;
  padding: 3px;
  text-align: center;
  margin: 3px;
}
/* .users th {
  background-color: lavender;
  font-weight: bolder;
} */
td > img {
  height: 32px;
  border: 0 solid white;
}
.del:hover {
  cursor: pointer;
}
