/*
.users {
    position: relative;
    width: 50vw;
    border-collapse: collapse;
    margin: 5px;
}  
.users td, th {
    
    border: 1px solid black;
    padding: 3px;
    text-align: center;
    margin: 3px;
} 
*/
/* .users th {
    background-color: lavender;
    font-weight: bolder;
} */
td > img {
  height: 48px;
}
.del:hover {
  cursor: pointer;
}
